body {
    background: black;
    color: white;
    margin: 0px;
    font-family: 'Chakra Petch', sans-serif;
}

header{
    padding: 20px;
    border-bottom: 2px solid rgb(42, 122, 228);
    font-size: 32px;
    color:rgb(42, 122, 228);
}

section {
    display: flex;
    justify-content: center;
    background: rgb(142, 6, 35);
    padding-top: 80px;
    padding-bottom: 80px;
}

.chamada-texto {
    margin-right: 5%;
}

.chamada-texto h1 {
    font-size: 40px;
}

.chamada-texto p {
    font-size: 20px;
}